## Preprocessing

In [11]:
DATASETS = ["ibtracs.last3years"]

In [12]:
from src.preprocessing.load_data import load_dataset
from src.preprocessing.pipeline import preprocess

In [13]:
import pandas as pd

In [14]:
for ds in DATASETS:
    df_raw, cfg = load_dataset(ds)
    X, y = preprocess(df_raw.copy(), cfg)

In [15]:
df_raw.shape, X.shape

((23276, 174), (23276, 31))

In [16]:
df_before = df_raw.dtypes
df_after = X.join(y).dtypes
# pd.set_option("display.max_rows", None)
# pd.reset_option("display.max_rows")
pd.concat([df_before, df_after], axis=1, keys=["raw", "processed"])

                  raw processed
SID            object    object
SEASON         object   float64
NUMBER         object   float64
BASIN          object  category
SUBBASIN       object  category
...               ...       ...
USA_SEARAD_SE  object       NaN
USA_SEARAD_SW  object       NaN
USA_SEARAD_NW  object       NaN
STORM_SPEED    object   float64
STORM_DIR      object   float64

[174 rows x 2 columns]