## DATA PREPROCESSING

## Data cleaning

In [1]:
import pandas as pd

In [2]:
from src.data.load_data import load_raw_data
from src.data.apply_missing_values_rules import apply_missing_values_rules
from src.data.clean_categorical import clean_categorical_values

### Load raw dataset

In [3]:
df = load_raw_data()
df.head()

Loaded raw dataset
 File: /Users/anitarazafi/Desktop/masters/code/feature-selection/data/raw/ibtracs.last3years.list.v04r01.csv
 Rows: 23276
 Columns: ['SID', 'SEASON', 'NUMBER', 'BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME', 'NATURE', 'LAT', 'LON', 'WMO_WIND', 'WMO_PRES', 'WMO_AGENCY', 'TRACK_TYPE', 'DIST2LAND', 'LANDFALL', 'IFLAG', 'USA_AGENCY', 'USA_ATCF_ID', 'USA_LAT', 'USA_LON', 'USA_RECORD', 'USA_STATUS', 'USA_WIND', 'USA_PRES', 'USA_SSHS', 'USA_R34_NE', 'USA_R34_SE', 'USA_R34_SW', 'USA_R34_NW', 'USA_R50_NE', 'USA_R50_SE', 'USA_R50_SW', 'USA_R50_NW', 'USA_R64_NE', 'USA_R64_SE', 'USA_R64_SW', 'USA_R64_NW', 'USA_POCI', 'USA_ROCI', 'USA_RMW', 'USA_EYE', 'TOKYO_LAT', 'TOKYO_LON', 'TOKYO_GRADE', 'TOKYO_WIND', 'TOKYO_PRES', 'TOKYO_R50_DIR', 'TOKYO_R50_LONG', 'TOKYO_R50_SHORT', 'TOKYO_R30_DIR', 'TOKYO_R30_LONG', 'TOKYO_R30_SHORT', 'TOKYO_LAND', 'CMA_LAT', 'CMA_LON', 'CMA_CAT', 'CMA_WIND', 'CMA_PRES', 'HKO_LAT', 'HKO_LON', 'HKO_CAT', 'HKO_WIND', 'HKO_PRES', 'KMA_LAT', 'KMA_LON', 'KMA_CAT', 'KMA_WIND', 'KMA_PRES', 'KMA_R50_DIR', 'KMA_R50_LONG', 'KMA_R50_SHORT', 'KMA_R30_DIR', 'KMA_R30_LONG', 'KMA_R30_SHORT', 'NEWDELHI_LAT', 'NEWDELHI_LON', 'NEWDELHI_GRADE', 'NEWDELHI_WIND', 'NEWDELHI_PRES', 'NEWDELHI_CI', 'NEWDELHI_DP', 'NEWDELHI_POCI', 'REUNION_LAT', 'REUNION_LON', 'REUNION_TYPE', 'REUNION_WIND', 'REUNION_PRES', 'REUNION_TNUM', 'REUNION_CI', 'REUNION_RMW', 'REUNION_R34_NE', 'REUNION_R34_SE', 'REUNION_R34_SW', 'REUNION_R34_NW', 'REUNION_R50_NE', 'REUNION_R50_SE', 'REUNION_R50_SW', 'REUNION_R50_NW', 'REUNION_R64_NE', 'REUNION_R64_SE', 'REUNION_R64_SW', 'REUNION_R64_NW', 'BOM_LAT', 'BOM_LON', 'BOM_TYPE', 'BOM_WIND', 'BOM_PRES', 'BOM_TNUM', 'BOM_CI', 'BOM_RMW', 'BOM_R34_NE', 'BOM_R34_SE', 'BOM_R34_SW', 'BOM_R34_NW', 'BOM_R50_NE', 'BOM_R50_SE', 'BOM_R50_SW', 'BOM_R50_NW', 'BOM_R64_NE', 'BOM_R64_SE', 'BOM_R64_SW', 'BOM_R64_NW', 'BOM_ROCI', 'BOM_POCI', 'BOM_EYE', 'BOM_POS_METHOD', 'BOM_PRES_METHOD', 'NADI_LAT', 'NADI_LON', 'NADI_CAT', 'NADI_WIND', 'NADI_PRES', 'WELLINGTON_LAT', 'WELLINGTON_LON', 'WELLINGTON_WIND', 'WELLINGTON_PRES', 'DS824_LAT', 'DS824_LON', 'DS824_STAGE', 'DS824_WIND', 'DS824_PRES', 'TD9636_LAT', 'TD9636_LON', 'TD9636_STAGE', 'TD9636_WIND', 'TD9636_PRES', 'TD9635_LAT', 'TD9635_LON', 'TD9635_WIND', 'TD9635_PRES', 'TD9635_ROCI', 'NEUMANN_LAT', 'NEUMANN_LON', 'NEUMANN_CLASS', 'NEUMANN_WIND', 'NEUMANN_PRES', 'MLC_LAT', 'MLC_LON', 'MLC_CLASS', 'MLC_WIND', 'MLC_PRES', 'USA_GUST', 'BOM_GUST', 'BOM_GUST_PER', 'REUNION_GUST', 'REUNION_GUST_PER', 'USA_SEAHGT', 'USA_SEARAD_NE', 'USA_SEARAD_SE', 'USA_SEARAD_SW', 'USA_SEARAD_NW', 'STORM_SPEED', 'STORM_DIR']

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,BOM_GUST_PER,REUNION_GUST,REUNION_GUST_PER,USA_SEAHGT,USA_SEARAD_NE,USA_SEARAD_SE,USA_SEARAD_SW,USA_SEARAD_NW,STORM_SPEED,STORM_DIR
0,,Year,,,,,,,degrees_north,degrees_east,...,second,kts,second,ft,nmile,nmile,nmile,nmile,kts,degrees
1,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 00:00:00,MX,-12.6,147.7,...,45,,,,,,,,6,160
2,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 03:00:00,MX,-12.9,147.8,...,,,,,,,,,5,160
3,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 06:00:00,MX,-13.1,147.9,...,45,,,,,,,,4,160
4,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 09:00:00,MX,-13.2,147.9,...,,,,,,,,,2,165

### Remove header details row

In [4]:
# drop duplicated header/metadata row
df = df.iloc[1:].reset_index(drop=True)

### Normalize the missing values to NaN

In [5]:
df_copy = apply_missing_values_rules(df)

/Users/anitarazafi/Desktop/masters/code/feature-selection/src/data/apply_missing_values_rules.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[obj_cols] = df[obj_cols].replace(generic_missing, np.nan)

In [6]:
df_copy

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,BOM_GUST_PER,REUNION_GUST,REUNION_GUST_PER,USA_SEAHGT,USA_SEARAD_NE,USA_SEARAD_SE,USA_SEARAD_SW,USA_SEARAD_NW,STORM_SPEED,STORM_DIR
0,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 00:00:00,MX,-12.6,147.7,...,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,160
1,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 03:00:00,MX,-12.9,147.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,160
2,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 06:00:00,MX,-13.1,147.9,...,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,160
3,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 09:00:00,MX,-13.2,147.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,165
4,2022008S13148,2022,1,SP,EA,TIFFANY,2022-01-08 12:00:00,TS,-13.3,148.0,...,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23270,2025339S14210,2026,105,SP,MM,UNNAMED,2025-12-05 18:00:00,NR,-17.4,-147.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,160
23271,2025339S14210,2026,105,SP,MM,UNNAMED,2025-12-05 21:00:00,NR,-18.0,-147.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,175
23272,2025339S14210,2026,105,SP,MM,UNNAMED,2025-12-06 00:00:00,NR,-18.7,-147.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,170
23273,2025339S14210,2026,105,SP,MM,UNNAMED,2025-12-06 03:00:00,NR,-19.4,-146.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,165
23274,2025339S14210,2026,105,SP,MM,UNNAMED,2025-12-06 06:00:00,NR,-20.2,-146.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,160

### Overview of missing values

In [7]:
missing_counts = df_copy.isna().sum()
missing_percent = (df_copy.isna().mean() * 100)
missing_summary = pd.DataFrame({
    "missing_count": missing_counts,
    "missing_percent": missing_percent
}).sort_values("missing_count")

In [8]:
pd.set_option("display.max_rows", None)
missing_summary

                  missing_count  missing_percent
SID                           0         0.000000
STORM_SPEED                   0         0.000000
USA_SSHS                      0         0.000000
IFLAG                         0         0.000000
DIST2LAND                     0         0.000000
TRACK_TYPE                    0         0.000000
LON                           0         0.000000
LAT                           0         0.000000
STORM_DIR                     0         0.000000
ISO_TIME                      0         0.000000
SEASON                        0         0.000000
NATURE                        0         0.000000
NAME                          0         0.000000
NUMBER                        0         0.000000
LANDFALL                    410         1.761547
USA_ATCF_ID                3002        12.897959
USA_LAT                    3188        13.697100
USA_LON                    3188        13.697100
USA_WIND                   3261        14.010741
SUBBASIN                   3293        14.148228
USA_PRES                   3333        14.320086
USA_POCI                   3744        16.085929
USA_ROCI                   3751        16.116004
USA_RMW                    3784        16.257787
BASIN                      4108        17.649839
USA_STATUS                 7043        30.259936
USA_R34_NE                11721        50.358754
USA_R34_NW                11726        50.380236
USA_R34_SE                11727        50.384533
USA_R34_SW                11734        50.414608
USA_AGENCY                13040        56.025779
WMO_AGENCY                14656        62.968851
WMO_PRES                  14769        63.454350
WMO_WIND                  15674        67.342642
USA_R50_NE                18084        77.697100
USA_R50_NW                18092        77.731472
USA_R50_SE                18095        77.744361
USA_R50_SW                18109        77.804511
CMA_PRES                  18850        80.988185
CMA_LON                   18850        80.988185
CMA_LAT                   18850        80.988185
CMA_WIND                  18850        80.988185
CMA_CAT                   18850        80.988185
TOKYO_R50_DIR             18869        81.069817
TOKYO_R30_DIR             18869        81.069817
TOKYO_LON                 18902        81.211600
TOKYO_LAT                 18902        81.211600
TOKYO_GRADE               18902        81.211600
TOKYO_PRES                18902        81.211600
USA_SEAHGT                19177        82.393126
USA_SEARAD_NE             19301        82.925886
USA_SEARAD_NW             19620        84.296455
USA_SEARAD_SE             19723        84.738990
USA_R64_NE                19923        85.598281
HKO_LON                   19924        85.602578
HKO_LAT                   19924        85.602578
HKO_CAT                   19924        85.602578
USA_R64_SE                19930        85.628357
USA_R64_NW                19930        85.628357
HKO_WIND                  19938        85.662728
HKO_PRES                  19938        85.662728
USA_R64_SW                19940        85.671321
KMA_LAT                   20095        86.337272
KMA_LON                   20095        86.337272
KMA_CAT                   20095        86.337272
KMA_WIND                  20095        86.337272
KMA_PRES                  20095        86.337272
USA_SEARAD_SW             20128        86.479055
BOM_TYPE                  20216        86.857143
BOM_PRES                  20216        86.857143
BOM_WIND                  20216        86.857143
BOM_LAT                   20216        86.857143
BOM_LON                   20216        86.857143
USA_GUST                  20217        86.861439
BOM_POCI                  20284        87.149302
BOM_ROCI                  20316        87.286788
TOKYO_WIND                20659        88.760473
TOKYO_R30_SHORT           20659        88.760473
TOKYO_R30_LONG            20659        88.760473
KMA_R30_DIR               20672        88.816327
KMA_R30_SHORT             20735        89.087003
KMA_R30_LONG              20735        89.087003
TOKYO_LAND                20949        90.006445
BOM_GUST                  21698        93.224490
BOM_GUST_PER              21698        93.224490
KMA_R50_DIR               21775        93.555317
KMA_R50_SHORT             21829        93.787325
KMA_R50_LONG              21829        93.787325
BOM_PRES_METHOD           21833        93.804511
TOKYO_R50_SHORT           22009        94.560687
TOKYO_R50_LONG            22009        94.560687
REUNION_LAT               22158        95.200859
REUNION_LON               22158        95.200859
REUNION_TYPE              22158        95.200859
REUNION_WIND              22162        95.218045
BOM_R34_SW                22164        95.226638
BOM_CI                    22172        95.261010
BOM_TNUM                  22172        95.261010
REUNION_PRES              22195        95.359828
BOM_R34_NW                22225        95.488722
BOM_R34_SE                22237        95.540279
NEWDELHI_DP               22285        95.746509
NEWDELHI_LAT              22285        95.746509
NEWDELHI_LON              22285        95.746509
NEWDELHI_GRADE            22285        95.746509
NEWDELHI_WIND             22285        95.746509
NEWDELHI_PRES             22285        95.746509
BOM_R34_NE                22290        95.767991
BOM_POS_METHOD            22338        95.974221
BOM_RMW                   22349        96.021482
NEWDELHI_CI               22514        96.730397
REUNION_TNUM              22710        97.572503
REUNION_GUST_PER          22710        97.572503
BOM_R50_SW                22723        97.628357
USA_EYE                   22725        97.636950
REUNION_R34_NW            22740        97.701396
REUNION_R34_SW            22740        97.701396
REUNION_R34_SE            22740        97.701396
REUNION_R34_NE            22740        97.701396
BOM_R50_SE                22766        97.813104
BOM_R50_NW                22779        97.868958
BOM_R50_NE                22807        97.989259
NADI_LON                  22826        98.070892
NADI_LAT                  22826        98.070892
NADI_WIND                 22849        98.169710
NADI_CAT                  22873        98.272825
NADI_PRES                 22889        98.341568
WELLINGTON_LAT            22930        98.517723
WELLINGTON_LON            22930        98.517723
REUNION_CI                22937        98.547798
WELLINGTON_WIND           22988        98.766917
REUNION_RMW               23003        98.831364
REUNION_R50_NW            23032        98.955961
REUNION_R50_SW            23032        98.955961
REUNION_R50_SE            23032        98.955961
REUNION_R50_NE            23032        98.955961
BOM_R64_SE                23042        98.998926
BOM_R64_NE                23046        99.016112
BOM_R64_SW                23051        99.037594
BOM_R64_NW                23059        99.071966
WELLINGTON_PRES           23064        99.093448
BOM_EYE                   23183        99.604726
USA_RECORD                23198        99.669173
MLC_WIND                  23275       100.000000
MLC_LAT                   23275       100.000000
MLC_LON                   23275       100.000000
MLC_CLASS                 23275       100.000000
REUNION_R64_NE            23275       100.000000
REUNION_R64_NW            23275       100.000000
REUNION_R64_SW            23275       100.000000
REUNION_GUST              23275       100.000000
REUNION_R64_SE            23275       100.000000
NEUMANN_PRES              23275       100.000000
MLC_PRES                  23275       100.000000
NEUMANN_WIND              23275       100.000000
NEWDELHI_POCI             23275       100.000000
NEUMANN_LON               23275       100.000000
DS824_LAT                 23275       100.000000
DS824_LON                 23275       100.000000
DS824_STAGE               23275       100.000000
DS824_WIND                23275       100.000000
DS824_PRES                23275       100.000000
TD9636_LAT                23275       100.000000
TD9636_LON                23275       100.000000
TD9636_STAGE              23275       100.000000
TD9636_WIND               23275       100.000000
TD9636_PRES               23275       100.000000
TD9635_LAT                23275       100.000000
TD9635_LON                23275       100.000000
TD9635_WIND               23275       100.000000
TD9635_PRES               23275       100.000000
NEUMANN_LAT               23275       100.000000
NEUMANN_CLASS             23275       100.000000
TD9635_ROCI               23275       100.000000

### Save missing values post-processed data frame

In [9]:
df_copy.to_parquet("../data/processed/df_missing_standardized.parquet")

### Fix data types

#### Time

In [10]:
df_copy["ISO_TIME"] = pd.to_datetime(df_copy["ISO_TIME"], errors="coerce")
df_copy[["ISO_TIME"]].info()
df_copy["ISO_TIME"].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23275 entries, 0 to 23274
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ISO_TIME  23275 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 182.0 KB

0   2022-01-08 00:00:00
1   2022-01-08 03:00:00
2   2022-01-08 06:00:00
3   2022-01-08 09:00:00
4   2022-01-08 12:00:00
Name: ISO_TIME, dtype: datetime64[ns]

In [11]:
nat_count = df_copy["ISO_TIME"].isna().sum()
print(f"Number of NaT in ISO_TIME: {nat_count}")

Number of NaT in ISO_TIME: 0

#### Numeric values

In [12]:
numeric_cols = df_copy.select_dtypes(include="object").columns[
    df_copy.select_dtypes(include="object").apply(lambda col: pd.to_numeric(col, errors="coerce").notna().any())
]
for col in numeric_cols:
    df_copy[col] = pd.to_numeric(df_copy[col], errors="coerce")

In [13]:
# quick check
# df_copy[numeric_cols].dtypes

#### Categorical values

In [14]:
df_copy_2 = clean_categorical_values(df_copy)

In [15]:
# df_copy_2.dtypes

### Handle duplicate values

In [18]:
# Handle duplicates
df_copy_3 = df_copy_2.drop_duplicates()

### Sort data

In [19]:
# Sort by identifiers and time
df_copy_3 = df_copy_3.sort_values(
    by=["SID", "ISO_TIME"],
    ascending=[True, True]
).reset_index(drop=True)

In [21]:
# df_copy_3

### Create a time delta column

In [27]:
df_copy_3["delta_hours"] = (
    df_copy_3.groupby("SID")["ISO_TIME"]
           .diff()
           .dt.total_seconds() / 3600
)

In [28]:
df_copy_3["delta_hours"].value_counts().head()

delta_hours
3.0    22573
1.0      172
2.0       35
1.5       11
2.5        7
Name: count, dtype: int64

### Encode categorical variables

In [29]:
categorical_cols = df_copy_3.select_dtypes(include="object").columns

df_encoded = pd.get_dummies(
    df_copy_3,
    columns=categorical_cols,
    dummy_na=True
)

/var/folders/j7/36fd2qk91sq5_0w0jyfz9wk40000gn/T/ipykernel_82737/3045044875.py:3: FutureWarning: The behavior of Index.insert with object-dtype is deprecated, in a future version this will return an object-dtype Index instead of inferring a non-object dtype. To retain the old behavior, do `idx.insert(loc, item).infer_objects(copy=False)`
  df_encoded = pd.get_dummies(

### Save cleaned dataset

In [34]:
df_encoded.to_parquet("../data/processed/df_final.parquet")